.countdown-banner-wrapper {
    display: flex;
    position: relative;
    margin: 50px auto;
    height: 120px;
    max-width: 960px;
    background-color: #f6f7e2;
    border-radius: 3px;
  }
  .countdown-star .star-wrap {
    margin-top: -18px;
    width: 150px;
  }
  .countdown-star img {
    height: 100%;
    width: 100%;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .countdown-timer-section {
    font-family: "AirbnbCerealApp-Bold";
    font-size: 1rem;
    color: #2c2c2c;
    letter-spacing: -0.35px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
  }
  .countdown-timer-message {
    margin: 0;
    font-size: 16px;
  }
  .countdown-masks {
    display: none;
    height: 100%;
    background-image: url(https://cdn.shopify.com/s/files/1/0289/5609/8608/files/timer_mask-bg--opt.png?v=1661973339);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
  }
  
  #countdown {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    font-size: 22px;
  }
  #countdown span {
    border-radius: 3px;
    background-color: #fdcc0e;
    padding: 8px;
  }
  
  @media screen and (min-width: 641px) {
    .countdown-timer-message {
      font-size: 22px;
    }
  
    .countdown-masks {
      width: 300px;
      display: block;
    }
  
    #countdown {
      font-size: 32px;
    }
  
    #countdown span {
      min-width: 40px;
    }
  }